<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinica_Frba.Properties.Settings.GD2C2013ConnectionString"
            connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD2C2013;User ID=gd;Password=gd2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>