<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clinica_Frba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Clinica_Frba.Properties.Settings.GD2C2013ConnectionString"
            connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD2C2013;User ID=gd;Password=gd2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Clinica_Frba.Properties.Settings>
            <setting name="Date" serializeAs="String">
                <value>2013-11-08</value>
            </setting>
        </Clinica_Frba.Properties.Settings>
    </applicationSettings>
</configuration>